@supports (font-variation-settings: normal) {
    :root {
         font-family: var(--text-font), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

::selection {
    background-color: rgb(var(--accent-color));
    color: rgb(var(--primary-color));
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.5s;
}

::view-transition-old(root) {
    animation-name: exit;
}

::view-transition-new(root) {
    animation-name: enter;
}

@keyframes exit {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes enter {
    from { opacity: 0; }
    to { opacity: 1; }
}

html {
    box-sizing: border-box;
    position: relative;
    background: rgba(var(--body-foreground-color), 1);
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: rgba(var(--body-text-color), 1);
    width: 100%;
    height: 100%;
    font-size: var(--font-size-p);
    font-weight: 430;
    padding: var(--spacing-1);
}

.content {
    position: relative;
    margin-bottom: 40dvh;
    background: rgba(var(--body-foreground-color), 1);
}

.wrap {
    max-width: var(--wrap-width);
    width: 100%;
    margin: 0 auto;
}

.wrap-wider {
    max-width: var(--wrap-wider);
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .wrap {
        padding: 0 var(--spacing-1);
    }

    .wrap-wider {
        padding: 0 var(--spacing-1);
    }
}

.header {
    width: 100%;
    font-size: var(--font-size-h1);
    padding: var(--spacing-2) var(--spacing-1);

    .header__fixed {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        padding: var(--spacing-2) var(--spacing-1);
        background: transparent;
        mix-blend-mode: difference;
        color: rgb(191, 191, 191);
    }

    span {
        color: #5d5d5d;
        margin-left: calc(var(--spacing-1) / 2);
    }

    .header__content {
        display: flex;
        /* text-transform: uppercase; */

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-4);
        }

        a {
            transition: .3s;
        }

        a:hover {
            color: rgba(191, 191, 191, .7);
            transition: .3s;
        }

        .active {
            position: relative;

            &:after {
                content: "";
                width: 4px;
                height: 4px;
                background-color: rgb(var(--accent-color));
                filter: invert(100%);
                position: absolute;
                top: 0;
                right: -.5rem;
                border-radius: 100%;
            }
        }
    }

    .align-right {
        justify-content: flex-end;
    }
}

.internal-spacing {
    padding-top: calc(var(--spacing-8) * 2);
}

.date-right {
    text-align: right;
    padding-right: var(--spacing-2);
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .align-right {
        justify-content: flex-start;
    }

    .date-right {
        text-align: left;
    }
  }

