@import url(../themes/light.css);
@import url(../themes/dark.css);

@supports (font-variation-settings: normal) {
    :root { font-family: UncutSans Variable, sans-serif; }
  }

:root {
 
     /* Semantic Colors */
     --body-background-color: var(--primary-color);
     --body-text-color: var(--secondary-color);
     --body-link-color: var(--tertiary-color);
     --body-heading-color: var(--heading-color);

    /* Fonts */
    --title-font: "Apple Garamond Light", serif;
    --title-font-italic: "Apple Garamond Light Italic", serif;
    --text-font: "UncutSans Variable", system-ui, sans-serif;
    --mono-font: "Geist Mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Courier New", monospace;

   /* 1.414 - Augmented Fourth Scale */
    --font-size-h1: 3rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.8rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.2rem;
    --font-size-h6: 1rem;
    --font-size-p: 1rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.85rem;
    --font-size-xsmall: 0.8rem;
    --font-size-xxl: 3rem;

    /* Structure */
    --wrap-sm: 50rem;
    --wrap-md: 58.75rem;
    --wrap-lg: 70rem;
    --wrap-xlg: 100rem;
    --wrap-media: 90rem;

    /* Spacing */
    --spacing-0: 0.5rem;
    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-4: 4rem;
    --spacing-8: 8rem;
    --spacing-12: 12rem;
    --spacing-16: 16rem;

    /* Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* Others */
    --transition-default: .4s;
    --opacity-default: .6;
    --radius-default: 10px;
    --footer-height: 400px;
}