@font-face {
     font-family: 'UncutSans Variable';
     src: url('/assets/fonts/UncutSans-Variable.woff2') format('woff2');
     font-weight: 300 900;
     font-display: swap;
     font-style: normal;
}