.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

code {
    font-family: var(--mono-font);
}

figure {
    margin: 0;
    padding: 0;
}

img, iframe, video {
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

small {
    font-size: var(--font-size-small);
}

time {
    font-feature-settings: 'tnum' 1;
    color: var(--tertiary-color);
    font-size: var(--font-size-small);
}

strong {
    font-weight: 500;
}

i {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    line-height: 1.6;
}