---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../partials/formattedDate.astro';

const notasItems = await getCollection('notas');
notasItems.sort((a,b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate));
---
<Layout>
	<main class="wrap">
        <section class="notas-section">
        {notasItems.map((notas) => (
            <article>
                <a href={`/notas/${notas.slug}`} title={notas.data.title}>
                    <h3>{notas.data.title}</h3>
                    <FormattedDate date={notas.data.publishDate} />
                </a>
            </article>
        ))}
        </section>
	</main>
</Layout>
<style>
    .notas-section a {
		width: 100%;
		color: var(--text-primary-color);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		transition: .4s;
	}

	.notas-section a:hover {
		color: #000000;
		transition: .4s;
	}

	.notas-section article {
		transition: .4s;
		padding: 0 1rem;
		border-radius: 5px;
	}

	.notas-section article:hover {
		background-color: #f7f7f7;
		transition: .4s;
	}

	.notas-section time {
		font-size: .8rem;
	}

    .notas-section a h3 {
		font-size: var(--text-primary-size);
		font-weight: 400;
	}
</style>