.home-cards__wrapper {
    width: 100%;
}

@media screen and (max-width: 475px) {
    .home-cards__wrapper {
        overflow-x: scroll;
        padding: 0 .5rem;

        ul {
            width: max-content!important;
        }

        li {
            max-width: 310px;
        }
    }
}