---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../partials/formattedDate.astro';

export async function getStaticPaths() {
    const notes = await getCollection('notes');

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: note,
    }));
}

const note = Astro.props;
const { Content } = await note.render();
---

<Layout>
    <main class="main wrap">
        <article class="content-article">
            <header class="article-header">
                <h2>{note.data.title}</h2>
            </header>
            
            <div class="note-content">
                <Content />
            </div>

            <footer class="article-footer">
                <FormattedDate date={note.data.publishDate} />
                <!-- {note.data.updateDate && (
                    <div>Updated on <FormattedDate date={note.data.updateDate} /></div>
                )} -->
            </footer>
        </article>
    </main>
</Layout>