---
import { getCollection } from "astro:content";
import Note from '../../layouts/Note.astro';
import FormattedDate from '../../partials/formattedDate.astro';

export async function getStaticPaths() {
    const notes = await getCollection('notes');

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: note,
    }));
}

const note = Astro.props;
const { Content } = await note.render();
---

<Note>
    <main class="nota wrap">
        <article class="note-self">
            <header class="article-header">
                <h1>{note.data.title}</h1>
            </header>
            <Content />

            <FormattedDate date={note.data.publishDate} />
        </article>
    </main>
</Note>
<style is:global>
    .note-self {
        padding: 1rem;
    }

    .article-header {
        margin: 0 0 2rem 0;
    }

    .article-header h1 {
        margin: 0;
    }

    .note-self time {
        opacity: .5;
    }

    .note-self h2 {
        margin: 2rem 0;
    }

    .note-self ul {
        margin-bottom: 4rem;
    }

    .note-self li {
        margin-bottom: 1rem;
        line-height: 1.6;
    }

    .note-self p {
        margin-bottom: 2rem;
    }

    pre {
        padding: 1rem;
        border-radius: 5px;
        font-size: .8rem;
    }

    blockquote {
        border-left: 4px solid var(--text-primary-color);
        margin: 3rem 0;
        background-color: #e2e5e9;
        padding: 1rem;
    }
</style>