---
import Note from '../../layouts/Note.astro';
import MainNavigation from '../../partials/MainNavigation.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../partials/formattedDate.astro';

export async function getStaticPaths() {
    const notes = await getCollection('notes');

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: note,
    }));
}

const note = Astro.props;
const { Content } = await note.render();
---

<Note>
    <MainNavigation />
    
    <main class="wrap notas-main">
        <article class="content-article">
            <!-- <header class="article-header">
                <h1>{note.data.title}</h1>
            </header> -->
            
            <div class="note-content">
                <Content />
            </div>

            <footer class="article-footer">
                <FormattedDate date={note.data.publishDate} />
                <!-- {note.data.updateDate && (
                    <div>Updated on <FormattedDate date={note.data.updateDate} /></div>
                )} -->
            </footer>
        </article>
    </main>
</Note>

<style>
    .content-article {
        padding-bottom: 6rem;
    }
</style>