---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import { SiteConfig } from "../../utils/SiteConfig";

export async function getStaticPaths() {
    const portfolio = await getCollection('works');

    return portfolio.map((item) => ({
        params: { slug: item.slug },
        props: item,
    }));
}

const item = Astro.props;
const { Content } = await item.render();
---

<Layout props={{ title: `${item.data.title} — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <main class="main">

        <a href="/" class="back-button">Back to home</a>

        <article class="content-article wrap-wide">
            <header class="article-header">
                <h2>{item.data.title}</h2>
            </header>

            <div class="note-content">
                <Content />
            </div>
        </article>
    </main>
</Layout>