---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const portfolio = await getCollection('works');

    return portfolio.map((item) => ({
        params: { slug: item.slug },
        props: item,
    }));
}

const item = Astro.props;
const { Content } = await item.render();
---

<Layout>
    <main class="main">
        <article class="content-article">
            <header class="article-header">
                <h2>{item.data.title}</h2>
            </header>

            <div class="note-content">
                <Content />
            </div>
        </article>
    </main>
</Layout>