---
import Layout from '../../layouts/Layout.astro'
import Grid from '../../components/utils/Grid.astro'
import MainNavigation from '../../partials/MainNavigation.astro';
import { getCollection, getEntry } from 'astro:content';

const post = await getEntry('works', 'works');
const { Content } = await post.render();
---
<Layout title="Portfolio">
    <div class="wrap-wide">
        <!-- <h2>Recent Works</h2> -->
        <div class="portfolio-list">
            <Grid isContainer>
                <Grid sm="12" md="12">
                    <Content />
                </Grid>
            </Grid>
        </div>
    </div>
    <MainNavigation />
</Layout>
<style>
    .portfolio-list {
        padding-bottom: 10em;
    }
</style>