html.dark-theme:root {
    /* Tokens */
    --black: 9, 9, 11;
    --white: 255, 255, 255;
    --gray: 175, 175, 175;

    --violet: 96, 88, 233;
     
    /* UI Colors */
     --primary-color: var(--black);
     --secondary-color: var(--gray);
     --tertiary-color: hsla(var(--secondary-color), .5);
     --accent-color: var(--violet);
}