html.light-theme:root {
    --black: 68, 68, 68;
    --white: 255, 255, 255;
    --gray: 171, 171, 171;

    --blue: 42, 67, 255;

     /* UI Colors */

     --primary-color: var(--white);
     --secondary-color: var(--black);
     --tertiary-color: rgba(var(--secondary-color), .5);
}