html.light-theme:root {
    /* Tokens */
    --black: 0, 0%, 20%;
    --white: 216, 20%, 95%;
    --blu: 235, 100%, 73%;
     
    /* Semantic */
     --primary-color: var(--white);
     --secondary-color: var(--black);
     --tertiary-color: hsla(var(--secondary-color), .5);
     --accent-color: var(--blu);
}