html.light-theme:root {
    /* Tokens */
    --black: 0, 0%, 20%;
    --white: 0, 0%, 100%;
    --violet: 243, 77%, 63%;
     
    /* Semantic */
     --primary-color: var(--white);
     --secondary-color: var(--black);
     --tertiary-color: hsla(var(--secondary-color), .5);
     --accent-color: var(--violet);
}