p {
    font-size: var(--text-primary-size);
    line-height: 1.6;
    color: var(--text-primary-color);
    margin: 0;

    code {
        font-size: var(--text-primary-size);
    }

    /* a[target="_blank"] {
        display: inline-block;
        color: var(--link-primary-color);

        &:after {
            content: "";
            background: url('/external-link.svg') no-repeat center center;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 3px;
        }
    } */

    strong {
        color: var(--link-primary-color);
    }
}

.mono {
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;

    & a {
        color: var(--link-primary-color)!important;
    }
}

.content-section {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    h2 {
        font-size: var(--text-primary-size);
        font-weight: 600;
        color: var(--link-primary-color);
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    a:not(:has(h3)) {
        color: var(--link-primary-color);
        text-decoration: underline;
        text-underline-offset: 3px;
        transition: .4s;
        text-decoration-color: var(--title-color);
    }

    a h3 {
        font-size: var(--text-primary-color);
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding: 0 1rem;

        a {
            text-decoration: none;
        }
    }
}

.content-article {
    padding-bottom: 1.5rem;

    h2 {
        padding: 0 1rem;
    }

    /* &:not(:last-child) {
        border-bottom: 1px solid var(--icon-bg);
    } */

    &:not(:first-child) {
        margin-top: 1.5rem;
    }

    p {
        padding: 0 1rem;
    }

    & time {
        opacity: .8;
        padding: 0 1rem;
    }

    & li {
        margin-bottom: .5rem;
        line-height: 1.6;
    }

    & p, & video {
        margin-bottom: 1.5rem;
    }

    & img, & video {
        border-radius: 5px;
    }

    & a {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: var(--link-primary-color);
        transition: .4s;
    }

    & pre {
        padding: 1rem;
        border-radius: 5px;
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    & blockquote {
        font-family: var(--font-serif);
        margin-left: 0;
        
        p {
            font-size: 1.5rem;
        }
    }

    .article-header {
        margin: 0 auto 1rem;

        & h1 {
            margin: 0;
        }

        & h2 {
            color: var(--link-primary-color);
            font-weight: 500;
        }

        a {
            text-decoration: none;
        }
    }

    .article-footer {
        div {
            font-size: .8rem;
            display: block;
            margin: .5rem 0;
        }

        a {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 475px) {
    .content-article {
        video {
            margin: 1rem auto;
        }
    }
}

.component-canvas {
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.border-media {
    border: 1px solid rgba(0,0,0,.02);
}

.work-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
    font-family: var(--font-mono);
    padding: 0 1rem;

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    li {
        font-size: .8rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }

    li:first-child {
        color: var(--title-color);
    }
}

.light-theme .dock-navigation {
    box-shadow:
                0 41px 17px #00000008,
                0 23px 14px #0000001a,
                0 10px 10px #0000002b,
                0 3px 6px #00000030;
}

[data-fade] {
    opacity: 0;
    animation: fadeIn .6s ease-out forwards;
    transform: translateY(10px);
}

@keyframes fadeIn {
    to { opacity: 1; transform: translateY(0) }
}

.video-container {
    padding: .5rem 0;
}

.video-container video {
    margin: 1rem 0;
}

@media screen and (max-width: 475px) {
    .video-container {
        max-width: 100%;
    }
}