:root {
    /* Dark colors */
    --dark-background-color: #000000;
    --dark-text-color: #bdbdbd;
    --dark-text-secondary-color: #eeeeee;
    --dark-title-color: #666666;
    --dark-link-color: #ffffff;
    --dark-divisor: #1e1e1e;
    --dark-icon-bg: #181818;
    --dark-nav-hover: #1b1c21;
    --dark-menu-bg: rgba(1,1,1,.6);
    --dark-menu-link: rgba(0,0,0,.65);
    --dark-menu-active-link: rgba(0,0,0,1);
    --dark-menu-hover-bg: rgba(1,1,1,.05);

    /* Light colors */
    --light-background-color: #eeeeee;
    --light-text-color: #444444;
    --light-text-secondary-color: #111111;
    --light-title-color: #ababab;
    --light-link-color: #171e27;
    --light-divisor: #E6E6E6;
    --light-icon-bg: #e7e7e7;
    --light-nav-hover: #e6e6e6;
    --light-menu-bg: rgba(255,255,255,.52);
    --light-menu-link: rgba(255,255,255,.5);
    --light-menu-active-link: rgba(255,255,255,1);
    --light-menu-hover-bg: rgba(255,255,255,.05);

    /* fonts */
    --font-serif: 'Instrument Serif', serif;
    /* --font-sans: 'Inter', system-ui, sans-serif; */
    --font-sans: "Geist", sans-serif;
    --font-mono: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;

    /* --wrap-width: 680px; */
    --wrap-width: 500px;
    --wrap-wide: 960px;
    --text-primary-size: 0.938rem;
    --mobile-breakpoint: 475px;
    font-feature-settings: 'dlig' 1;
}