code {
    font-family: var(--font-mono);
}

figure {
    margin: 0;
    padding: 0;
}

img, iframe, video {
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;

    &:hover {
        opacity: .6;
    }
}

small {
    font-size: 0.8rem;
}

time {
    font-feature-settings: 'tnum' 1;
    font-size: var(--text-primary-size);
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--text-primary-size);
    font-weight: 500;
    color: var(--text-secondary-color);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}