.books__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
}

.books__wrapper:last-child {
    padding-bottom: 6rem;
}

.books__year {
    padding-top: 4rem;
}

.book {
    width: 100%;
    display: flex;

    p {
        padding: 0;
    }
}