---
import Layout from '../layouts/Layout.astro'
import ImageZoom from '../components/ImageZoom/ImageZoom.jsx';
import { SiteConfig } from "../utils/SiteConfig";
---
<Layout props={{ title: `About — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <main class="main wrap-narrow">
        
        <a href="/" class="back-button">Back to home</a>
        
        <section class="content-section">
            <article class="content-article">

                <img src="/polaroid-frnd.png" alt="Yo!" class="polaroid-photo">

                <p>My name is Fernando Soares, a self-taught designer with 13 years of experience. I learned HTML when I was 12 and have been in love with interfaces ever since.</p>
                
                <p>I worked with brands like Massey-Fergusson, Valtra, Figueirense FC, Petrobras, Ryzen and etc.</p>

                <p>I believe that my knowledge of Front-End development helps me design real-world interfaces and solve problems with a holistic view of the product. Solving complex problems with simple solutuions.</p>

                <p><a href="/public/uploads/cv-fernando-soares.pdf" download>Download my CV.</a></p>
            
            </article>
        </section>

        <section class="content-section">
            <article class="content-article">
                <h2>Now</h2>
                <p>Working as a freelancer with ux/ui, icons and design systems for startups and agencies, and running parallel projects like <a target="_blank" href="https://viewport-ui.design">Viewport UI.</a></p>
            </article>
        </section>

        <section class="content-section">
            <article class="content-article things-list">
                <h2>What I Do</h2>
                <p>I design interfaces from concept to finish.</p>
                <ul>
                    <li>Research;</li>
                    <li>Information Architeture;</li>
                    <li>Wireframes & Prototypes;</li>
                    <li>Usability Tests;</li>
                    <li>Visual Design and Interaction;</li>
                    <li>Documentation;</li>
                    <li>Design System/Style guide;</li>
                    <li>HTML, CSS and JS.</li>
                </ul>
            </article>
        </section>

        <section class="content-section">
            <article class="content-article">
                <h2>What I Use</h2>
                <p>I use <a href="https://figma.com/@fers" target="_blank">Figma</a> as my main tool for almost everything.</p>
                <p>As a proccess I worked with SCRUM, design thinking, design sprint and double diamond.</p>
                <p>Webflow as low-code tool.</p>
            </article>
        </section>
    </main>
</Layout>
<style>
    .things-list li {
        color: var(--type-text-color);
    }

    .polaroid-photo {
        max-width: 400px;
        margin: 0 auto;
        transform: rotate(0);
        transition: .4s;
        margin-bottom: 4rem;

        &:hover {
            transform: rotate(-5deg);
            transition: .4s;
        }
    }
</style>