---
import Layout from '@layouts/Layout.astro';
import { SiteConfig } from '@utils/SiteConfig';
import Header from '@partials/Header.astro';
import Grid from '@components/utils/Grid.astro';
import PageHeading from '@partials/PageHeading.astro';
---
<Layout props={{ title: `About — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>

    <Header />

    <main class="main internal-spacing">

        <PageHeading title="About" description="Senior UI Designer based in Florianópolis, Brazil." />

        <section class="page__content">
            <Grid isContainer>
                <Grid sm="12" md="3"></Grid>

                <Grid sm="12" md="5">
                    <article class="content-article">
                        <p>I'm a freelance UX/UI designer working with interfaces, icons and Webflow development. I love thinking through design, sipping coffee, listening to fuzzy music, and longboarding.</p>

                        <p>A CSS lover, icon design enthusiast and  ½ of <a href="https://viewport-ui.design" target="_blank">Viewport UI</a>. I'm driven by curiosity.</p>

                        <p>With 13 years of experience, I started my journey in design as a self-taught professional. I learned HTML at the age of 12 and have been in love with interfaces ever since.</p>
                    
                        <p>Throughout my career, I've collaborated with brands such as Massey-Ferguson, Valtra, Figueirense FC, Petrobras, Ryzen, and more.</p>
        
                        <p>I believe my Front-End development skills enhance my ability to design real-world interfaces, allowing me to approach problems holistically. My focus is on solving complex challenges with simple, effective solutions.</p>
                    </article>
                </Grid>
            </Grid>
        </section>

        <section class="page__content">
            <figure>
                <img src="/frnd-avatar.jpg" alt="Yo!" class="about-photo">
            </figure>
        </section>

        <!-- <section class="page__content">
            <article class="dos__list">
                <Grid isContainer>
                    <Grid sm="12" md="4">
                        <h2>What I Do</h2>
                    </Grid>

                    <Grid sm="12" md="8">
                        <Grid sm="12" md="12">
                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <i>—</i>
                                </Grid>
                                <Grid sm="12" md="8">
                                    <p>Web Design</p>
                                </Grid>
                            </Grid>

                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <i>—</i>
                                </Grid>
                                <Grid sm="12" md="8">
                                    <p>App Design</p>
                                </Grid>
                            </Grid>

                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <i>—</i>
                                </Grid>
                                <Grid sm="12" md="8">
                                    <p>Webflow/Framer Development</p>
                                </Grid>
                            </Grid>

                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <i>—</i>
                                </Grid>
                                <Grid sm="12" md="8">
                                    <p>Design Systems</p>
                                </Grid>
                            </Grid>

                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <i>—</i>
                                </Grid>
                                <Grid sm="12" md="8">
                                    <p>Prototypes</p>
                                </Grid>
                            </Grid>

                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <i>—</i>
                                </Grid>
                                <Grid sm="12" md="8">
                                    <p>Icons/App Icon</p>
                                </Grid>
                            </Grid>
                        </Grid>
                    </Grid>
                </Grid>
            </article>
        </section>

        <section class="page__content">
            <article class="experience__list">
                <Grid isContainer>
                    <Grid sm="12" md="4">
                        <h2>Experience</h2>
                    </Grid>

                    <Grid sm="12" md="8">    
                        <Grid sm="12" md="12">
                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <p class="experience__year">2023 — Now</p>
                                </Grid>
            
                                <Grid sm="12" md="8">
                                    <p><strong>Freelancer</strong></p>
                                    <p>UX/UI, Icons and Design Systems.</p>
                                </Grid>
                            </Grid>
            
                            <Grid isContainer>
                                <Grid sm="12" md="2" >
                                    <p class="experience__year">2020 — 2023</p>
                                </Grid>
            
                                <Grid sm="12" md="8">
                                    <p><strong>Front End Designer @ Transformação Digital</strong></p>
                                    <p>Low Code, Web Design, Wordpress & UX Analysis</p>
                                </Grid>
                            </Grid>
                            
                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <p class="experience__year">2019 — 2020</p>
                                </Grid>
            
                                <Grid sm="12" md="8">
                                    <p><strong>UX/UI Designer @ Mint Labs</strong></p>
                                    <p>UX/UI Design, Wordpress</p>
                                </Grid>
                            </Grid>
            
                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <div>
                                        <p class="experience__year">2015 — 2019</p>
                                    </div>
                                </Grid>
            
                                <Grid sm="12" md="8">
                                    <p><strong>UX/UI Designer @ Sábia Experience</strong></p>
                                    <p>UX/UI, Product, AR & VR, Wordpress & Design System</p>
                                </Grid>
                            </Grid>
            
                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <p class="experience__year">2013 — 2015</p>
                                </Grid>
            
                                <Grid sm="12" md="8">
                                    <p><strong>UX/UI & Front End @ Deon Sistemas</strong></p>
                                    <p>UX/UI, Apps, CMS, Front End & Wordpress</p>
                                </Grid>
                            </Grid>

                            <Grid isContainer>
                                <Grid sm="12" md="2">
                                    <p class="experience__year">2011 — 2013</p>
                                </Grid>
            
                                <Grid sm="12" md="8">
                                    <p><strong>UX/UI & Front End @ Ação Direta Web Studio</strong></p>
                                    <p>UX/UI, Front End & Wordpress</p>
                                </Grid>
                            </Grid>
                        </Grid>
                    </Grid>
                </Grid>
            </article>
        </section> -->

    </main>
</Layout>

<style>
    .experience__list {
        .grid-container {
            margin: var(--spacing-2) 0;
        }
    }

    .experience__year {
        color: hsla(var(--body-text-color), var(--opacity-default));
    }

    .about-photo {
        /* max-width: 400px; */
        border-radius: var(--radius-md);
    }

    .dos__list {
       .grid-container {
        margin: var(--spacing-1) 0;
       }

       i {
        font-style: normal;
        color: hsla(var(--body-text-color), var(--opacity-default));
        text-align: right;
        display: block;
        width: 100%;
       }
    }

    .page__content {
        margin-bottom: var(--spacing-2);
    }
</style>