---
import Layout from '@layouts/Layout.astro';
import { SiteConfig } from '@utils/SiteConfig';
import Header from '@partials/Header.astro';
import Grid from '@components/utils/Grid.astro';
import PageHeading from '@partials/PageHeading.astro';
---
<Layout props={{ title: `About — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>

    <Header />

    <main class="wrap-lg">
        <PageHeading title="About" description="" />
        

        <section class="block__content">
            <article class="content-article">
                <p>I'm a freelancer UX/UI designer working with interfaces, icons and Webflow development. I love thinking through design, sipping coffee, listening to fuzzy music, and longboarding.</p>

                <p>A CSS lover, icon design enthusiast and  ½ of <a href="https://viewport-ui.design" target="_blank">Viewport UI</a>. I'm driven by curiosity.</p>

                <p>With 13 years of experience, I started my journey in design as a self-taught professional. I learned HTML at the age of 12 and have been in love with interfaces ever since.</p>
            
                <p>Throughout my career, I've collaborated with brands such as Massey-Ferguson, Valtra, Figueirense FC, Petrobras, Ryzen, and more.</p>

                <p>I believe my Front-End development skills enhance my ability to design real-world interfaces, allowing me to approach problems holistically. My focus is on solving complex challenges with simple, effective solutions.</p>
            </article>

        </section>

        <section class="block__content">
            <figure>
                <img src="/frnd-avatar.jpg" alt="Yo!" class="about-photo">
            </figure>
        </section>

        <section class="block__content">
            <Grid isContainer>
            
                <Grid sm="12" md="4">
                    <h4>Experience</h4>
                </Grid>

                <Grid sm="12" md="8">
                    <ul class="block__list--experience">
                        <li>
                            <h5>2023 - Now</h5>
                            <h3>ux/ui designer @ freelancer</h3>
                            
                            <p>ux/ui design, design systems, icons, webflow development</p>
                        </li>

                        <li>
                            <h5>2020 - 2023</h5>
                            <h3>front-end designer @ transformação digital</h3>
                            
                            <p>front-end design, wordpress, usability, performance/cro.</p>
                        </li>

                        <li>
                            <h5>2019 - 2020</h5>
                            <h3>ux/ui designer @ mint lab</h3>
                            
                            <p>ux/ui design, wordpress</p>
                        </li>

                        <li>
                            <h5>2016 - 2019</h5>
                            <h3>ux/ui designer @ sábia experience</h3>
                            
                            <p>ux/ui design, design system, web games, AR and VR interfaces.</p>
                        </li>

                        <li>
                            <h5>2013 - 2016</h5>
                            <h3>ux/ui designer & front end @ deon sistemas</h3>
                            
                            <p>ux/ui design, front-end dev.</p>
                        </li>

                        <li>
                            <h5>2012 - 2013</h5>
                            <h3>ux/ui designer & front end @ ação direta</h3>
                            
                            <p>ux/ui design, front-end dev.</p>
                        </li>
                    </ul>
                </Grid>
            </Grid>
        </section>

        <section class="block__content">
            <Grid isContainer>
                
                <Grid sm="12" md="4">
                    <h4>Education</h4>
                </Grid>
            
                <Grid sm="12" md="8">
                    <ul class="block__list--experience">
                        <li>
                            <h5>2022</h5>
                            <h3>UX Design @ Google/Coursera</h3>

                            <p>UX Design process.</p>
                        </li>

                        <li>
                            <h5>2010 - 2012</h5>
                            <h3>Web Design & Front End @ SENAC TI</h3>

                            <p>UX/UI Design & Front End.</p>
                        </li>

                        <li>
                            <h5>2009 - 2010</h5>
                            <h3>Web Design @ S.O.S</h3>

                            <p>UX/UI Design, HTML/CSS.</p>
                        </li>

                        <li>
                            <h5>2007 - 2008</h5>
                            <h3>Graphic Design @ S.O.S</h3>

                            <p>Graphic Design & Adobe Apps.</p>
                        </li>

                        <li>
                            <h5>2007 - 2008</h5>
                            <h3>Telecomunications @ IFSC</h3>

                            <p>Systems and Networks.</p>
                        </li>
                    </ul>
                </Grid>
            </Grid>
        </section>
    </main>
</Layout>