---
import { getCollection } from "astro:content";
const feedItems = await getCollection('feed');
---

<ul>
    {feedItems.map(feed => (
        <li>
            <a href={feed.slug}>{feed.data.tile}</a>
        </li>
    ))}
</ul>