---
import { getCollection } from 'astro:content';
import { SiteConfig } from '@utils/SiteConfig';
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@partials/formattedDate.astro';
import Header from '@partials/Header.astro';
import Hero from '@partials/Hero.astro';
---

<Layout props={{ title: SiteConfig.title, description: SiteConfig.description, image: SiteConfig.image }}>
  <Hero>
    
    <Header />
    
    <section class="hero__content">
      <div class="hero--headline">
        <div class="wrap-wider">
          <h2>Hi, I'm Fernando Soares.</h2>
          <h2>Interface Designer based in <span>Florianópolis, Brazil.</span></h2>
        </div>
      </div>

      <div class="hero--contact">
        <div class="wrap-wider">
          <h3>say hi — <a href="mailto:hi@frnd.design">hi@frnd.design</a></h3>
        </div>
      </div>
    </section>
  </Hero>
</Layout>
<style>
  .hero__content {
    padding-bottom: var(--spacing-8);
  }

  .hero--headline {
    padding: var(--spacing-2) 0;

    h1 {
      margin-bottom: var(--spacing-1);
    }
  }

  .hero--contact {
    border-top: 1px solid rgba(255, 255, 255, .08);
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    padding: var(--spacing-2) 0;
  }
</style>