---
import Layout from '../layouts/Layout.astro'
import { SiteConfig } from "../utils/SiteConfig";
---
<Layout props={{ title: `Now, ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <main class="main wrap">
        <section class="content-section">
            <article class="content-article">
                <div class="article-header">
                    <h1>Now</h1>
                </div>
                <p>Working as a freelancer with ux/ui, icons and design systems for startups and agencies, and running parallel projects like <a target="_blank" href="https://viewport-ui.design">Viewport UI.</a></p>

				<p>Enhancing skills through practice and exploring experiences.</p>
            </article>
        </section>
    </main>
</Layout>