---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Sobre">
    <div class="wrap">
        <article class="article-page">
            <h1>Oi!</h1>

            <p>Tenho 12 anos de experiência no mercado com ux/ui e desenvolvimento visual com HTML/CSS, php e javascript básico. Por muito tempo trabalhei como fullstack designer, ou seja, fazia ux/ui e desenvolvimento front-end vanilla ou com Wordpress e outros CMS’s.</p>

            <p>Com 13 anos aprendi a escrever HTML no bloco de notas, desenhar botões aqua no Macromedia Fireworks (RIP) e “fatiar” layouts para exportar e me apaixonei pelo processo todo. Passei pela era do Flash até chegar nas experiências em VR e AR.</p>

            <p>Hoje meu foco é completamente voltado pra ux/ui design. Passo a maior parte do meu tempo livre estudando e lendo sobre interfaces. Sou apaixonado pela parte que envolve a interação entre usuário e interface.</p>

            <p>Acredito que o meu conhecimento em front-end me ajuda a projetar e desenhar interfaces reais usando design patterns e as melhores práticas. Gosto de trabalhar em time, debater soluções e testar ideias.</p>

            <p>Tenho noção em branding, modelagem 3D e pixel art. Veja meu currículo no Read.cv</p>
        </article>
    </div>
</Layout>
<style>
    .article-page {
        padding: 0 1rem;
    }
</style>