---
---
<a href="/" class="back-button" role="button">
    <i class="back-icon" title="Go back">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_7_63)">
            <path d="M9.41177 19.4118L11.0706 17.753L4.50589 11.1765L18.8235 11.1765L18.8235 8.82357L4.50589 8.82358L11.0823 2.2589L9.41176 0.588316L4.02909e-05 10L9.41177 19.4118Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_7_63">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
        </svg>            
    </i>
</a>

<style>
    .back-button {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        cursor: pointer;
        position: fixed;
        left: 20px;
        top: 20px;

        & i {
            width: 20px;
            height: 20px;
            display: block;
            overflow: hidden;
        }

        & svg {
            transition: .4s;

            & path {
                fill: var(--text-secondary-color);
            }
        }
    }
</style>