---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const notes = currentPath === "notes";
---
<ul class="breadcrumbs">
    <li><a href="/">home</a></li>
    { notes ? <li>notes</li> : <li><a href="/notes">notes</a></li> }
</ul>
<style>
    .breadcrumbs {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 1rem;
        list-style: none;
        opacity: .5;
        font-size: .8rem;

        & li:not(:last-child) {
            margin-right: 6px;

            &:after {
                content: "/";
                display: inline-block;
                margin-left: 6px;
            }
        }

        a {
            text-decoration: underline;
            color: inherit;
        }
    }
</style>