---
---
<button class="switcher" role="button">
    <i class="theme-icon" title="Theme">
        <svg width="32" height="64" viewBox="0 0 32 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24.5827 17.2003C23.905 17.3803 23.2069 17.4714 22.5057 17.4713C20.3707 17.4713 18.3657 16.6413 16.8597 15.1353C15.8708 14.1406 15.1598 12.9041 14.7976 11.5491C14.4355 10.194 14.4348 8.76769 14.7957 7.41229C14.8408 7.24282 14.8405 7.06448 14.7949 6.89516C14.7493 6.72584 14.6599 6.57149 14.5358 6.44759C14.4117 6.32369 14.2572 6.23461 14.0878 6.18927C13.9184 6.14394 13.7401 6.14394 13.5707 6.18929C11.8739 6.64147 10.3258 7.53191 9.0817 8.77129C5.1837 12.6693 5.1837 19.0143 9.0817 22.9143C10.0082 23.846 11.1103 24.5847 12.3242 25.0876C13.5381 25.5905 14.8397 25.8477 16.1537 25.8443C17.4673 25.848 18.7686 25.591 19.9822 25.0882C21.1958 24.5854 22.2976 23.8469 23.2237 22.9153C24.464 21.671 25.3549 20.1221 25.8067 18.4243C25.8516 18.2549 25.8512 18.0767 25.8056 17.9075C25.76 17.7383 25.6708 17.584 25.5469 17.4601C25.423 17.3362 25.2687 17.247 25.0995 17.2014C24.9303 17.1558 24.7521 17.1554 24.5827 17.2003ZM21.8107 21.5013C21.0697 22.2464 20.1882 22.8371 19.2174 23.2393C18.2465 23.6415 17.2056 23.8471 16.1547 23.8443C15.1035 23.8469 14.0622 23.6411 13.091 23.2388C12.1199 22.8364 11.2381 22.2455 10.4967 21.5003C7.3787 18.3813 7.3787 13.3053 10.4967 10.1863C11.0992 9.58446 11.7948 9.0837 12.5567 8.70329C12.4452 10.1423 12.6457 11.5885 13.1444 12.943C13.6432 14.2974 14.4285 15.5282 15.4467 16.5513C16.4675 17.5727 17.698 18.3602 19.053 18.8593C20.408 19.3585 21.8553 19.5574 23.2947 19.4423C22.9122 20.2029 22.4113 20.8979 21.8107 21.5013Z" fill="#1c1c1c"/>
        <path d="M9.47984 52.6914L8.76984 53.4014C8.58359 53.5888 8.47905 53.8422 8.47905 54.1064C8.47905 54.3706 8.58359 54.624 8.76984 54.8114C8.95721 54.9977 9.21066 55.1022 9.47484 55.1022C9.73903 55.1022 9.99248 54.9977 10.1798 54.8114L10.8898 54.1014C11.0537 53.9101 11.1393 53.664 11.1296 53.4124C11.1198 53.1607 11.0155 52.9219 10.8374 52.7438C10.6593 52.5657 10.4206 52.4614 10.1689 52.4517C9.91722 52.442 9.67115 52.5276 9.47984 52.6914ZM8.83984 47.6914C8.83984 47.4262 8.73449 47.1718 8.54695 46.9843C8.35941 46.7968 8.10506 46.6914 7.83984 46.6914H6.83984C6.57463 46.6914 6.32027 46.7968 6.13274 46.9843C5.9452 47.1718 5.83984 47.4262 5.83984 47.6914C5.83984 47.9566 5.9452 48.211 6.13274 48.3985C6.32027 48.586 6.57463 48.6914 6.83984 48.6914H7.83984C8.10506 48.6914 8.35941 48.586 8.54695 48.3985C8.73449 48.211 8.83984 47.9566 8.83984 47.6914ZM15.8398 40.6914C16.1051 40.6914 16.3594 40.586 16.547 40.3985C16.7345 40.211 16.8398 39.9566 16.8398 39.6914V38.6914C16.8398 38.4262 16.7345 38.1718 16.547 37.9843C16.3594 37.7968 16.1051 37.6914 15.8398 37.6914C15.5746 37.6914 15.3203 37.7968 15.1327 37.9843C14.9452 38.1718 14.8398 38.4262 14.8398 38.6914V39.6914C14.8398 39.9566 14.9452 40.211 15.1327 40.3985C15.3203 40.586 15.5746 40.6914 15.8398 40.6914ZM9.47984 42.7414C9.6661 42.9262 9.9175 43.0303 10.1798 43.0314C10.3115 43.0322 10.4419 43.0069 10.5638 42.9572C10.6856 42.9074 10.7964 42.8341 10.8898 42.7414C11.0761 42.554 11.1806 42.3006 11.1806 42.0364C11.1806 41.7722 11.0761 41.5188 10.8898 41.3314L10.1798 40.6214C9.98854 40.4576 9.74247 40.372 9.49079 40.3817C9.23911 40.3914 9.00037 40.4957 8.82228 40.6738C8.64419 40.8519 8.53985 41.0907 8.53013 41.3424C8.52041 41.594 8.60602 41.8401 8.76984 42.0314L9.47984 42.7414ZM21.4798 43.0314C21.7422 43.0303 21.9936 42.9262 22.1798 42.7414L22.8898 42.0314C22.9945 41.9418 23.0795 41.8314 23.1396 41.7074C23.1996 41.5833 23.2333 41.4482 23.2386 41.3105C23.244 41.1727 23.2208 41.0354 23.1705 40.9071C23.1202 40.7788 23.0439 40.6622 22.9465 40.5648C22.849 40.4673 22.7325 40.391 22.6042 40.3408C22.4758 40.2905 22.3385 40.2673 22.2008 40.2726C22.0631 40.2779 21.9279 40.3117 21.8039 40.3717C21.6798 40.4317 21.5695 40.5167 21.4798 40.6214L20.8398 41.3314C20.6536 41.5188 20.5491 41.7722 20.5491 42.0364C20.5491 42.3006 20.6536 42.554 20.8398 42.7414C21.0161 42.9168 21.2514 43.0202 21.4998 43.0314H21.4798ZM24.8398 46.6914H23.8398C23.5746 46.6914 23.3203 46.7968 23.1327 46.9843C22.9452 47.1718 22.8398 47.4262 22.8398 47.6914C22.8398 47.9566 22.9452 48.211 23.1327 48.3985C23.3203 48.586 23.5746 48.6914 23.8398 48.6914H24.8398C25.1051 48.6914 25.3594 48.586 25.547 48.3985C25.7345 48.211 25.8398 47.9566 25.8398 47.6914C25.8398 47.4262 25.7345 47.1718 25.547 46.9843C25.3594 46.7968 25.1051 46.6914 24.8398 46.6914ZM15.8398 54.6914C15.5746 54.6914 15.3203 54.7968 15.1327 54.9843C14.9452 55.1718 14.8398 55.4262 14.8398 55.6914V56.6914C14.8398 56.9566 14.9452 57.211 15.1327 57.3985C15.3203 57.5861 15.5746 57.6914 15.8398 57.6914C16.1051 57.6914 16.3594 57.5861 16.547 57.3985C16.7345 57.211 16.8398 56.9566 16.8398 56.6914V55.6914C16.8398 55.4262 16.7345 55.1718 16.547 54.9843C16.3594 54.7968 16.1051 54.6914 15.8398 54.6914ZM22.1998 52.6914C22.0099 52.5857 21.7906 52.5448 21.5753 52.5749C21.36 52.605 21.1604 52.7045 21.0066 52.8582C20.8529 53.0119 20.7535 53.2116 20.7234 53.4269C20.6933 53.6422 20.7342 53.8614 20.8398 54.0514L21.5498 54.7614C21.7372 54.9477 21.9907 55.0522 22.2548 55.0522C22.519 55.0522 22.7725 54.9477 22.9598 54.7614C23.1461 54.574 23.2506 54.3206 23.2506 54.0564C23.2506 53.7922 23.1461 53.5388 22.9598 53.3514L22.1998 52.6914ZM15.8398 42.1914C14.752 42.1914 13.6887 42.514 12.7842 43.1183C11.8797 43.7227 11.1748 44.5817 10.7585 45.5866C10.3422 46.5916 10.2333 47.6975 10.4455 48.7644C10.6577 49.8313 11.1816 50.8113 11.9508 51.5805C12.7199 52.3497 13.7 52.8735 14.7668 53.0857C15.8337 53.2979 16.9396 53.189 17.9446 52.7727C18.9496 52.3565 19.8086 51.6515 20.4129 50.747C21.0173 49.8426 21.3398 48.7792 21.3398 47.6914C21.3372 46.2335 20.7569 44.8361 19.726 43.8052C18.6951 42.7744 17.2977 42.194 15.8398 42.1914ZM15.8398 51.1914C15.1476 51.1914 14.4709 50.9861 13.8953 50.6016C13.3198 50.217 12.8712 49.6703 12.6063 49.0308C12.3414 48.3913 12.272 47.6875 12.4071 47.0086C12.5421 46.3297 12.8755 45.706 13.365 45.2165C13.8545 44.727 14.4781 44.3937 15.157 44.2587C15.836 44.1236 16.5397 44.1929 17.1792 44.4578C17.8188 44.7227 18.3654 45.1713 18.75 45.7469C19.1346 46.3225 19.3398 46.9992 19.3398 47.6914C19.3398 48.6197 18.9711 49.5099 18.3147 50.1663C17.6583 50.8227 16.7681 51.1914 15.8398 51.1914Z" fill="#f2efee"/>
        </svg>    
    </i>
</button>

<style>
    .switcher {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;

        & i {
            width: 32px;
            height: 32px;
            display: block;
            overflow: hidden;
        }

        & svg {
            transition: .4s;
        }
    }
</style>

<script>
    const applyTheme = () => {
        let darkTheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
        let switcher = document.querySelector(".switcher");
        let root = document.getElementsByTagName('html')[0];
        let metaColor = document.querySelector('meta[name="theme-color"]');
        let themeIcon = document.querySelector('.theme-icon svg');

        if (localStorage.getItem("theme") == 'dark') {
        root.classList.add("dark-theme");
        metaColor.setAttribute("content", "#101010");
        themeIcon.style.transform = "translateY(-32px)";
        } else {
        root.classList.add("light-theme");
        metaColor.setAttribute("content", "#f3f3f3");
        themeIcon.style.transform = "translateY(0)";
        }

        switcher.addEventListener("click", function () {
        if (root.classList.contains('dark-theme')) {
            root.classList.remove("dark-theme");
            root.classList.add("light-theme");
            metaColor.setAttribute("content", "#E8E9EC");
            localStorage.setItem("theme", "light");
            themeIcon.style.transform = "translateY(0)";
        } else {
            root.classList.remove("light-theme");
            root.classList.add("dark-theme");
            localStorage.setItem("theme", "dark");
            metaColor.setAttribute("content", "#161821");
            themeIcon.style.transform = "translateY(-32px)";
        }
        });
    }

    applyTheme();

    document.addEventListener("astro:after-swap", applyTheme);
</script>