---
import FullPage from "./FullPage.astro";
---
<section class="full-section">
    <slot />
</section>

<style is:global>
    .full-wrap {
        max-width: 80dvw;
        width: 100%;
        margin: 0 auto;
    }

    .wrap-labs {
        max-width: var(--wrap-width);
        margin: 0 auto;
    }

    .wrap-wide img,
    .wrap-labs img  {
        margin: 2rem auto;
        display: block;
        max-width: 100%;
        height: auto;
        background-color: var(--icon-bg);
        border-radius: 5px;
    }

    .section-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;

        & h1, h2, p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        & h1 {
            font-family: "Instrument Serif", serif;
            font-size: 7rem;
            margin: 0;
        }

        & h2 {
            font-weight: normal;
            margin: 0;
        }
    }

    @media (max-width: 475px) {
        .full-wrap {
            max-width: 90dvw;
        }

        .full .mono {
            margin-bottom: 2rem;
            display: block;
        }

        .full-section img {
            max-width: 100dvw;
        }

        .mono {
            margin-bottom: 2rem;
            display: block;
        }
    }

    video {
        max-width: 100%;
        height: auto;
        margin: 2rem auto;
        display: block;
        border-radius: 4px;
    }
</style>