---
import CommandMenu from "../components/CommandMenu/CommandMenu.jsx";
// import ColorMode from '@components/utils/ColorMode.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const isActive = (path) => {
    if (path === "" && currentPath === "") {
        return true; // Ativa "Home" somente quando a URL atual é a raiz
    } else if (path !== "" && currentPath.startsWith(path)) {
        return true; // Ativa outras rotas se o currentPath começa com path
    }
    return false;
};
---

<div class="float-navigation">
    <nav>
        <ul>
            <li>
                <CommandMenu client:load />
            </li>

            <!-- <li>
                <ColorMode />
            </li> -->
            
            
            <!-- <li>
                <a href="/" data-title="Home" class={isActive("") ? "active" : ""}>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.6861 2.83488C13.1618 1.45348 10.8382 1.45348 9.31392 2.83488L4.31392 7.36613C3.47724 8.12438 3 9.20093 3 10.3301V17.0002C3 19.2093 4.79086 21.0002 7 21.0002H8C9.10457 21.0002 10 20.1047 10 19.0002V16.0002C10 14.8956 10.8954 14.0002 12 14.0002C13.1046 14.0002 14 14.8956 14 16.0002V19.0002C14 20.1047 14.8954 21.0002 16 21.0002H17C19.2091 21.0002 21 19.2093 21 17.0002V10.3301C21 9.20093 20.5228 8.12438 19.6861 7.36613L14.6861 2.83488Z"/>
                    </svg>                        
                </a>
            </li>

            <li>
                <a href="/about" data-title="About" class={isActive("about") ? "active" : ""}>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C9.51472 2 7.5 4.01472 7.5 6.5C7.5 8.98528 9.51472 11 12 11C14.4853 11 16.5 8.98528 16.5 6.5C16.5 4.01472 14.4853 2 12 2Z" />
                        <path d="M12 12.5C8.73708 12.5 6.14047 14.213 4.77277 16.7569C4.19622 17.8293 4.41122 18.9365 5.05292 19.7348C5.67643 20.5105 6.69558 21 7.79526 21H16.2047C17.3044 21 18.3236 20.5105 18.9471 19.7348C19.5888 18.9365 19.8038 17.8293 19.2272 16.7569C17.8595 14.213 15.2629 12.5 12 12.5Z" />
                    </svg>
                </a>
            </li>

            <li>
                <a href="/works" data-title="Works" class={isActive("works") ? "active" : ""}>
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 3C3.44772 3 3 3.44772 3 4C3 4.55228 3.44772 5 4 5C4.55228 5 5 4.55228 5 4C5 3.44772 4.55228 3 4 3Z" />
                        <path d="M6 4C6 3.44772 6.44772 3 7 3C7.55228 3 8 3.44772 8 4C8 4.55228 7.55228 5 7 5C6.44772 5 6 4.55228 6 4Z" />
                        <path d="M10 3C9.44772 3 9 3.44772 9 4C9 4.55228 9.44772 5 10 5C10.5523 5 11 4.55228 11 4C11 3.44772 10.5523 3 10 3Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3C0 1.34315 1.34315 0 3 0H17C18.6569 0 20 1.34315 20 3V13C20 14.6569 18.6569 16 17 16H3C1.34315 16 0 14.6569 0 13V3ZM18 3V6H2V3C2 2.44772 2.44772 2 3 2H17C17.5523 2 18 2.44772 18 3Z" />
                        </svg>
                        
                    </svg>
                </a>
            </li>

            <li>
                <a href="/notes" data-title="Notes" class={isActive("notes") ? "active" : ""}>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 6.25C3.5 4.17893 5.17893 2.5 7.25 2.5H16.75C18.8211 2.5 20.5 4.17893 20.5 6.25V17.75C20.5 19.8211 18.8211 21.5 16.75 21.5H7.25C5.17893 21.5 3.5 19.8211 3.5 17.75V16.5H3.25C2.83579 16.5 2.5 16.1642 2.5 15.75C2.5 15.3358 2.83579 15 3.25 15H3.5V12.75H3.25C2.83579 12.75 2.5 12.4142 2.5 12C2.5 11.5858 2.83579 11.25 3.25 11.25H3.5V9H3.25C2.83579 9 2.5 8.66421 2.5 8.25C2.5 7.83579 2.83579 7.5 3.25 7.5H3.5V6.25ZM9 8.25C9 7.83579 9.33579 7.5 9.75 7.5H14.25C14.6642 7.5 15 7.83579 15 8.25C15 8.66421 14.6642 9 14.25 9H9.75C9.33579 9 9 8.66421 9 8.25ZM9 12C9 11.5858 9.33579 11.25 9.75 11.25H12.25C12.6642 11.25 13 11.5858 13 12C13 12.4142 12.6642 12.75 12.25 12.75H9.75C9.33579 12.75 9 12.4142 9 12Z" />
                    </svg>
                </a>
            </li> -->

            <!-- <li>
                <a href="mailto:dotfernando@gmail.com" data-title="Contact">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.38257 6.10024C2.17502 6.52971 2.08627 6.99344 2.04336 7.51853C1.99999 8.04944 1.99999 8.70505 2 9.51788V14.4821C1.99999 15.2949 1.99999 15.9506 2.04336 16.4815C2.08803 17.0281 2.18239 17.5082 2.40873 17.9525C2.76825 18.6581 3.34193 19.2317 4.04754 19.5913C4.49176 19.8176 4.9719 19.912 5.51853 19.9566C6.04944 20 6.70505 20 7.51788 20H16.4821C17.295 20 17.9506 20 18.4815 19.9566C19.0281 19.912 19.5082 19.8176 19.9525 19.5913C20.6581 19.2317 21.2317 18.6581 21.5913 17.9525C21.8176 17.5082 21.912 17.0281 21.9566 16.4815C22 15.9506 22 15.295 22 14.4821V9.51788C22 8.70505 22 8.04944 21.9566 7.51853C21.9137 6.99344 21.825 6.52971 21.6174 6.10024L14.3746 12.0262C12.9933 13.1564 11.0067 13.1564 9.62536 12.0262L2.38257 6.10024Z" fill="#C3C3C3"/>
                        <path d="M20.7011 4.9119C20.474 4.7158 20.2229 4.54653 19.9525 4.40873C19.5082 4.18239 19.0281 4.08803 18.4815 4.04336C17.9506 3.99999 17.2949 3.99999 16.4821 4H7.5179C6.70507 3.99999 6.04943 3.99999 5.51853 4.04336C4.9719 4.08803 4.49176 4.18239 4.04754 4.40873C3.77708 4.54653 3.526 4.7158 3.29894 4.9119L10.5752 10.8652C11.404 11.5433 12.596 11.5433 13.4248 10.8652L20.7011 4.9119Z" fill="#C3C3C3"/>
                    </svg>                        
                </a>
            </li> -->
        </ul>
    </nav>
</div>

<style>
    .float-navigation {
        position: fixed;
        top: var(--spacing-2);
        left: var(--spacing-2);
        border-radius: 15px;
        padding: 10px;
        transition: .4s;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        &:hover {
            background-color: rgb(var(--body-text-color), .02);
            transition: .4s;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-1);
        }
    }

    /* .float-navigation {
        position: fixed;
        top: var(--spacing-8);
        left: 3%;
        border-radius: 15px;
        padding: 10px;
        transition: .4s;

        &:hover {
            background-color: rgb(var(--body-text-color), .02);
            transition: .4s;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        a {
            display: flex;
            width: 42px;
            height: 42px;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            position: relative;

            &:active svg {
                transform: scale(.8);
                transition: .4s;
            }

            svg {
                transform: scale(1);
                fill: rgb(var(--body-text-color), .3);
            }

            &:hover path {
                fill: rgb(var(--body-text-color), .8);
                transition: .4s;
            }

            &:after {
                opacity: 0;
                content: attr(data-title);
                position: absolute;
                left: 58px;
                top: 10px;
                z-index: 10;
                transition: .4s;
                display: block;
                font-weight: 500;
            }

            &:hover:after {
                opacity: 1;
                left: 64px;
            }
        }

        .active {
            background: rgb(var(--body-text-color), .04);

            path {
                fill: rgb(var(--body-text-color), .8);
            }
        }

        svg path {
            transition: .4s;
        }
    }

    @media screen and  (max-width: 800px) {
        .float-navigation {
            position: static;
        }
        
        .float-navigation ul {
            flex-direction: row;
        }

        .float-navigation a:after {
            display: none;
        }
    } */
</style>