---
import Grid from '../components/utils/Grid.astro';
---
<footer class="footer fixed bottom-0 left-0">
    <Grid isContainer>
        <Grid sm="12" md="4">
            <p>© 2025</p>
        </Grid>

        <Grid sm="12" md="2">
            <div class="footer__content hide-mobile">
                <h4>Explore</h4>
            </div>

            <div class="footer__content hide-mobile">
                <h4>Colophon</h4>
            </div>
        </Grid>

        <Grid sm="12" md="6">
            <div class="footer__content">
                <ul>
                    <li><a href="/readings">Readings</a></li>
                    <li><a href="/my-girls">My Girls</a></li>
                    <li><a target="_blank" href="https://www.are.na/fer-nshpf_to31q/channels">Are.na</a></li>
                    <li><a target="_blank" href="https://x.com/frrrnd">x.com</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <ul>
                    <li>Built with <span><a href="https://astro.build/" target="_blank">Astro</a></span></li>
                    <li>Hosted on <span><a href="https://www.netlify.com/" target="_blank">Netlify</a></span></li>
                    <li>Typeface is <span><a href="https://uncut.wtf/sans-serif/uncut-sans/" target="_blank">Uncut Sans Variable</a></span></li>
                </ul>
            </div>
        </Grid>
    </Grid>
</footer>
<style>

    .footer {
        font-size: var(--font-size-h1);
        padding: var(--spacing-2) var(--spacing-1);
        color: rgba(var(--body-text-color), .5);
        border-top: 1px solid rgb(var(--body-text-color), .05);
        margin-top: var(--spacing-2);
        width: 100%;
        z-index: 0;
    }

    .footer__content {
        margin-bottom: var(--spacing-4);
        min-height: 100px;

        h4 {
            margin-bottom: var(--spacing-1);
            font-weight: normal;
        }

        a {
            color: rgba(var(--body-text-color), 1);
            transition: .4s;

            &:hover {
                color: rgba(var(--body-text-color), .5);
                transition: .4s;
            }
        }
    }
</style>