---

---
<footer class="footer">
    <div class="wrap">
        <div class="row">
            <small>Less is more.</small>
            <small>© 2024</small>
        </div>
    </div>
</footer>
<style>
    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem 1rem 1rem;
        color: var(--text-primary-color);
        opacity: 0;
        animation: .4s fadeInTop forwards;
        animation-delay: 1.4s;
    }

    .footer .wrap {
        padding: 0 2rem;
    }

    .footer .row {
        border-top: 1px solid var(--divisor);
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>