---
import Grid from '@components/utils/Grid.astro';
import CopyClipboard from '@components/CopyClipboard/CopyClipboard.jsx';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

// Corrigindo a verificação das páginas de notes
const isNotesPage = currentPath.startsWith('notes/'); // Removido o '/' do início já que currentPath não o tem

// Definindo classes condicionalmente
// const headerClasses = isNotesPage ? 'header__fixed' : 'header__fixed blend-text';

// const isActive = (path) => {
//     if (path === "" && currentPath === "") {
//         return true; // Ativa "Home" somente quando a URL atual é a raiz
//     } else if (path !== "" && currentPath.startsWith(path)) {
//         return true; // Ativa outras rotas se o currentPath começa com path
//     }
//     return false;
// };
---

<header class="header">
    <!-- <div class="header__content">
        <nav>
            <ul>
                <li><a class={isActive("/") ? "active" : ""} href="/">Work</a></li>
                <li><a class={isActive("about") ? "active" : ""} href="/about">About</a></li>
                <li><a class={isActive("notes") ? "active" : ""} href="/notes">Notes</a></li>
            </ul>
        </nav>
    </div> -->
    <!-- <a href="/" class="header__logo">
       Home
    </a> -->

    <div class="wrap-sm">
        <a href="/" class="shuffle"> ← back to home</a>
    </div>
</header>
<style>
    .header {
        padding: var(--spacing-4) 0;
        margin-bottom: var(--spacing-4);
    }
</style>