---
import Grid from '@components/utils/Grid.astro';
import CopyClipboard from '@components/CopyClipboard/CopyClipboard.jsx';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

// Corrigindo a verificação das páginas de notes
const isNotesPage = currentPath.startsWith('notes/'); // Removido o '/' do início já que currentPath não o tem

// Definindo classes condicionalmente
// const headerClasses = isNotesPage ? 'header__fixed' : 'header__fixed blend-text';

// const isActive = (path) => {
//     if (path === "" && currentPath === "") {
//         return true; // Ativa "Home" somente quando a URL atual é a raiz
//     } else if (path !== "" && currentPath.startsWith(path)) {
//         return true; // Ativa outras rotas se o currentPath começa com path
//     }
//     return false;
// };
---

<header class="header">
    <!-- <div class="header__content">
        <nav>
            <ul>
                <li><a class={isActive("/") ? "active" : ""} href="/">Work</a></li>
                <li><a class={isActive("about") ? "active" : ""} href="/about">About</a></li>
                <li><a class={isActive("notes") ? "active" : ""} href="/notes">Notes</a></li>
            </ul>
        </nav>
    </div> -->
    <a href="/" class="header__logo">
       Home
    </a>
</header>
<style>
    .header {
        padding: var(--spacing-4) 0;
    }

    .header__logo {
        width: 32px;
        height: 36px;
        margin: 0 auto;
        display: block;
        background: url('/public/assets/images/logo-sprite.png') 0 36px;
        text-indent: -999px;

        &:hover {
            animation: sprite 2s steps(10) infinite;
            opacity: 1;
        }
    }

    @keyframes sprite {
        from {background-position: 0px;}
        to {background-position: -320px;}
    }
</style>