---
import ColorMode from '../components/ColorMode.astro';
---

<ColorMode />
<header class="header">
    <div class="wrap">
        <a href="/">
            <h1>Fernando Soares</h1>
            <p>Interface & Icon Designer.</p><br>
        </a>
    </div>
</header>
<style>
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem 0 0 0;
    }

    .header a {
        transition: .4s;
        width: max-content;
        display: block;
        margin-bottom: 1rem;
    }

    .header a:active {
        opacity: .5;
        transition: .4s;
    }

    .header h1 {
        /* font-size: 1.2rem; */
        font-size: var(--text-primary-size);
        color: var(--text-secondary-color);
        width: 100%;
        font-weight: 600;
        line-height: 1.6;
        padding: 0 1rem;
        /* background: linear-gradient(to right, #673fff, #00ffad);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; */
        margin-bottom: 0;
    }

    .header p {
        padding: 0 1rem;
    }
</style>