---
import ColorMode from '../components/utils/ColorMode.astro';

const currentPath = Astro.url.pathname;

let title = "";
let subtitle = "";

if (currentPath === "/") {
    title = "Fernando Soares";
    subtitle = "user interface designer.";
} else if (currentPath.startsWith("/works")) {
    title = "Recent Works";
    subtitle = "";
} else if (currentPath.startsWith("/icons")) {
    title = "App Icons";
    subtitle = "";
} else if (currentPath.startsWith("/feed")) {
    title = "Feed";
    subtitle = "";
} else if (currentPath.startsWith("/notes")) {
    title = "Notes";
    subtitle = "";
} else if (currentPath.startsWith("/readings")) {
    title = "Recent readings";
    subtitle = "";
} else if (currentPath.startsWith("/labs")) {
    title = "Labs";
    subtitle = "";
} else {
    title = "Fernando Soares,";
    subtitle = "user interface designer.";
}
---

<ColorMode />

<header class="header wrap">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
</header>

<style>
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 8rem 0 3rem 0;
    }

    .header h1 {
        /* font-size: 2.6rem; */
        font-size: var(--text-primary-size);
        color: var(--text-secondary-color);
        width: 100%;
        font-weight: 600;
        line-height: 1.2;
        padding: 0 1rem;
        margin-bottom: 0;
        font-family: var(--font-sans);
        display: block;
    }

    .header h2 {
        padding: 0 1rem;
        font-weight: normal;
        margin: 0;
        color: var(--text-secondary-color);
        font-family: var(--font-sans);
        /* font-size: 2.2rem; */
        font-size: var(--text-primary-size);
        display: block;
    }
</style>