---
import LinkWithPreview from '../components/LinkImage/LinkImage.tsx';

const currentPath = Astro.url.pathname;

let title = "";
if (currentPath.startsWith("/works")) {
    title = "Recent Works";
} else if (currentPath.startsWith("/about")) {
    title = "About";
} else if (currentPath.startsWith("/feed")) {
    title = "Feed";
} else if (currentPath.startsWith("/notes")) {
    title = "Notes";
} else if (currentPath.startsWith("/readings")) {
    title = "Recent readings";
} else if (currentPath.startsWith("/labs")) {
    title = "Labs";
} else {
    title = "Hey — I'm Fernando.";
}

---

<header class="header" id="header">
    <div class="wrap">
        <h1>
            {currentPath === "/" ? (
                <LinkWithPreview 
                    client:load 
                    href="/" 
                    text="Hey — I'm Fernando." 
                    images={['/uploads/images/preview/avatar-frnd.webp']} 
                />
            ) : (
                title
            )}
        </h1>
    </div>
</header>

<style>
    .header {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto 4rem;
    }

    .header h1 {
        font-size: var(--text-primary-size);
        color: var(--text-secondary-color);
        width: 100%;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
        font-family: var(--font-sans);
        display: block;
    }
</style>