---
import MainNavigation from "./MainNavigation.astro";
---

<header class="header" id="header">
    <div class="wrap">
        <a href="/">
            <figure class="skate">
                <img src="/frnd-avatar.jpg" alt="Yo!" />
            </figure>

            <div class="heading">
                <h1>Fernando Soares</h1>
                <h2>User Interface Designer</h2>
            </div>
        </a>

        <MainNavigation />

    </div>
</header>

<style>
    .header {
        margin: 0 auto 1rem;
        
        .wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        a {
            display: flex;
            flex-direction: row;
            width: max-content;
            gap: 12px;
        }
        
        figure {
            display: inline-block;
            width: 36px;

            img {
                border-radius: 100%;
            }
        }

        h1 {
            font-size: var(--type-default-size);
            color: var(--type-title-color);
            width: 100%;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 0;
            display: block;
        }

        h2 {
            color: var(--type-text-color);
        }
    }
</style>