---
import LinkWithPreview from '../components/LinkImage/LinkImage.tsx';
---

<header class="header" id="header">
    <div class="wrap">
        <a href="/">
            <figure class="skate">
                <img src="/skate.svg" />
            </figure>
        </a>
    </div>
</header>

<style>
    .header {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto 1rem;

        a {
            display: block;
            width: max-content;
        }
    }

    .header h1 {
        font-size: 1.5rem;
        color: var(--text-secondary-color);
        width: 100%;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
        display: block;
    }

    .skate {
        max-width: 70px;
        width: 100%;
        margin-bottom: 2rem;
    }
</style>