---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const isActive = (path) => {
    if (path === "" && currentPath === "") {
        return true; // Ativa "Home" somente quando a URL atual é a raiz
    } else if (path !== "" && currentPath.startsWith(path)) {
        return true; // Ativa outras rotas se o currentPath começa com path
    }
    return false;
};
---

<div class="dock-navigation">
    <nav>
        <ul>
            <li><a class={isActive("") ? "active" : ""} href="/">Home</a></li>
            <li><a class={isActive("about") ? "active" : ""} href="/about">About</a></li>
            <li><a class={isActive("works") ? "active" : ""} href="/works">Works</a></li>
            <!-- <li><a class={isActive("icons") ? "active" : ""} href="/icons">Icons</a></li> -->
            <li><a href="mailto:dotfernando@gmail.com">Contact</a></li>
            <li class="dropdown">
                <input type="checkbox" />
                <a href="#!">•••</a>
                <ul class="drop-options">
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/readings">Readings</a></li>
                    <li><a href="#">Albums</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<style>
    .dock-navigation {
        width: 100%;
        max-width: max-content;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        transform: translateY(-25px);
        transition: .4s;
        border-radius: 15px;
        padding: 8px;
    }

    .dock-navigation:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--menu-bg);
        backdrop-filter: blur(35px) saturate(1.5);
        -webkit-backdrop-filter: blur(35px) saturate(1.5);
        z-index: -1;
        border-radius: 15px;
    }

    ul {
        list-style-type: none;
        max-width: max-content;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        transition: color 0.2s;
        padding-left: 0;
    }

    li {
        display: inline-block;
        border-radius: 10px;
        font-size: .9rem;
        transition: .3s;

        &:hover {
            background-color: var(--menu-hover-bg);
        }
    }

    li a {
        padding: 8px 12px;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: var(--menu-link);
        transition: .4s;
    }

    @media (hover: hover) {
        .dock-navigation li a:hover {
            transition: .4s;
            color: var(--menu-active-link);
        }
    }

    .active {
        color: var(--menu-active-link)!important;
        position: relative;
        font-weight: 600;

        &:after {
            content: "";
            width: 3px;
            height: 3px;
            background-color: var(--menu-active-link);
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            margin: 0 auto;
            border-radius: 100%;
        }
    }

    @media screen and (max-width: 475px) {
        .last-item {
            display: none;
        }

        .btn-mobile-contact {
            display: none;
        }
    }

    @media screen and (min-width: 476px) {
        .btn-mobile-contact {
            display: none;
        }
    }

    .dock-navigation.show {
        transform: translateY(-25px);
    }

    .dock-navigation.hide {
        transform: translateY(55px);
    }

    /* Dropdown options */
    .dropdown {
        position: relative;
    }

    .dropdown > .drop-options {
        overflow: hidden;
        position: fixed;
        bottom: 110%;
        right: 0;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        padding: 8px;
        opacity: 0;
    }

    .drop-options:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--menu-bg);
        backdrop-filter: blur(35px) saturate(1.5);
        -webkit-backdrop-filter: blur(35px) saturate(1.5);
        z-index: -1;
    }

    .dropdown > input[type="checkbox"] {
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .dropdown > input[type="checkbox"]:checked ~ .drop-options {
        opacity: 1;
    }
</style>

<script>
    let lastScrollTop = 0;
    let menu = null;
  
    function handleScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  
      if (scrollTop > lastScrollTop) {
        menu.classList.add('hide');
        menu.classList.remove('show');
      } else {
        
        menu.classList.add('show');
        menu.classList.remove('hide');
      }
  
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; 
    }
  
    function checkMobile() {
      if (window.innerWidth <= 475) { 
        window.addEventListener('scroll', handleScroll, { passive: true });
      } else {
        window.removeEventListener('scroll', handleScroll);
      }
    }
  
    function initMenuScript() {
      menu = document.querySelector('.dock-navigation');
      if (!menu) return;
  
      lastScrollTop = 0;
      checkMobile();
      window.addEventListener('resize', checkMobile);
    }
  
    initMenuScript();
  
    document.addEventListener('astro:after-swap', () => {
      initMenuScript();
    });
  </script>  