---
import CopyClipboard from '../components/CopyClipboard/CopyClipboard.jsx';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const isActive = (path) => {
    if (path === "" && currentPath === "") {
        return true; // Ativa "Home" somente quando a URL atual é a raiz
    } else if (path !== "" && currentPath.startsWith(path)) {
        return true; // Ativa outras rotas se o currentPath começa com path
    }
    return false;
};
---

<nav class="main-navigation">
    <ul>
        <li><a class={isActive("about") ? "active" : ""} href="/about">About</a></li>
        <li><a class={isActive("labs") ? "active" : ""} href="/labs">Labs</a></li>
        <li><CopyClipboard client:load /></li>
    </ul>
</nav>


<style>
    ul {
        list-style-type: none;
        max-width: max-content;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        display: inline-block;
        margin: 0 12px;

        a {
            border: 1px solid rgba(0,0,0,.05);
            padding: 8px 16px;
            border-radius: 30px;
            transition: .4s;

            &:hover {
                background-color: rgba(0,0,0,.04);
                transition: .4s;
            }
        }
    }

    .active {
        color: var(--type-title-color)!important;
        position: relative;
        font-weight: 600;

        &:after {
            content: "";
            width: 3px;
            height: 3px;
            background-color: var(--type-title-color);
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 3px;
            margin: 0 auto;
            border-radius: 100%;
        }
    }

    @media screen and (max-width: 756px) {
        .main-navigation {
            display: none;
        }
    }
</style>