---
import CopyClipboard from '../components/CopyClipboard/CopyClipboard.jsx';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const isActive = (path) => {
    if (path === "" && currentPath === "") {
        return true; // Ativa "Home" somente quando a URL atual é a raiz
    } else if (path !== "" && currentPath.startsWith(path)) {
        return true; // Ativa outras rotas se o currentPath começa com path
    }
    return false;
};
---

<nav class="main-navigation">
    <ul>
        <li><a class={isActive("about") ? "active" : ""} href="/about">about</a></li>
        <li><a class={isActive("labs") ? "active" : ""} href="/labs">labs</a></li>
        <li><a class={isActive("notes") ? "active" : ""} href="/notes">notes</a></li>
        <li><CopyClipboard client:load /></li>
    </ul>
</nav>


<style>
    ul {
        list-style-type: none;
        max-width: max-content;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        display: inline-block;
        margin: 0 4px;

        &:last-child {
            margin-right: 0;
        }

        a {
            padding: 8px 16px;
            border-radius: var(--border-default-radius);
            transition: .4s;

            &:hover {
                background-color: var(--link-button-hover);
                transition: .4s;
            }
        }
    }

    .active {
        color: var(--typo-title-color)!important;
        position: relative;
    }

    @media screen and (max-width: 756px) {
        .main-navigation {
            display: none;
        }
    }
</style>