---
import Grid from '@components/utils/Grid.astro';

const { title, description } = Astro.props;

---

<section class="page__heading">
    <article class="wrap-wider">
        <h2>{title}</h2>
        <p>{description}</p>
    </article>
</section>

<style>
  .page__heading {
    margin-bottom: var(--spacing-2);
    padding-top: calc(var(--spacing-8) * 2);

    h2 {
      margin-bottom: calc(var(--spacing-1) / 2);
      font-size: var(--font-size-h2);
    }
  }
</style>