.clipboard {
    display: block;
    width: max-content;
    margin:0 auto;
    height: 100%;
    color: hsla(var(--body-text-color), 1);
    text-decoration: none!important;
    text-align: center;
    text-underline-offset: 3px;
    position: relative;
    transition: var(--transition-default);
    font-family: var(--title-font);
    font-size: 2rem;

    &:hover {
      opacity: .8;
      transition: var(--transition-default);
    }
}


.clipboard-active:after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: transparent;
  box-shadow:
            inset 0 0 50px rgba(255, 255, 255, 0.5),
            inset 20px 0 80px rgba(255, 0, 255, 0.5),
            inset -20px 0 80px rgba(0,255,255, 0.5),
            inset 20px 0 300px rgba(255, 0, 255, 0.5),
            inset -20px 0 300px rgba(0,255,255, 0.5),
            0 0 50px rgba(255, 255, 255, 0.5),
            -10px 0 80px rgba(255, 0, 255, 0.5),
            10px 0 80px rgba(0,255,255, 0.5);
  opacity: 0;
  animation: .8s glow ease;
}

@keyframes glow {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}