figure {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .album-container {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;

    .album__list {
      display: flex;
      flex-direction: row;
      padding: 2rem;
      background-color: transparent;
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }
  
    .album__item {
      max-width: var(--album-width);
      width: 100%;
      cursor: pointer;
      position: relative;
    }
  
    .album__item:hover .album__artwork {
      transform-origin: top;
      transform: perspective(75em) rotateX(20deg);
      transition: 0.4s;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    }
  
    .album__item:hover .album__artwork:before {
      transform: rotate(45deg) translate(0px, -70%);
      filter: blur(6px);
    }
  
    .album__item:hover .album__play {
      opacity: 1;
      transform: translateY(0);
      transition: 0.4s;
    }
  
    .album__info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 0;
    }
  
    .album__title h1 {
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: white;
    }
  
    .album__title h2 {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.6);
      margin: 0;
      padding-left: 0;
    }
  
    .album__artwork {
      position: relative;
      transition: 0.4s;
      position: relative;
      transform-origin: 50% -40px;
      overflow: hidden;
      margin-bottom: 16px;
      border-radius: 5px;
    }
  
    .album__artwork img {
      border-radius: inherit;
      display: block;
      margin-bottom: 0;
    }
  
    .album__artwork:before {
      content: "";
      background: rgba(255, 255, 255, 0.1);
      transform: rotate(45deg) translate(0px, -90%);
      filter: blur(4px);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: 0.4s;
    }
    
    .album__play {
      background: black;
      border-radius: 100%;
      display: block;
      width: 24px;
      height: 24px;
      padding: 4px;
      opacity: 0;
      transition: 0.4s;
      transform: translateY(10px);
    }
  }