---
import Layout from '../../layouts/Layout.astro';
import MainNavigation from '../../partials/MainNavigation.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const labs = await getCollection('labs');

    return labs.map((item) => ({
        params: { slug: item.slug },
        props: item,
    }));
}

const item = Astro.props;
const { Content } = await item.render();
---

<Layout>
    <main class="main wrap">
        <article class="content-article">
            <header class="article-header">
                <h2>{item.data.title}</h2>
            </header>
            
            <Content />
        </article>
    </main>
</Layout>