---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'
import { SiteConfig } from "../../utils/SiteConfig";

const labs = await getCollection('labs');

labs.sort((a,b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate));

const renderedLabs = await Promise.all(
	labs.map(async (post) => {
		const { Content } = await post.render();
		return { ...post, Content };
	})
);
---
<Layout props={{ title: `Labs — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <main class="main wrap-narrow labs-index">

		<a href="/" class="back-button">Back to home</a>
		
		<section class="content-section">
		{renderedLabs.map((post) => (
			<article class="content-article">
				<header class="article-header">
					<a href={`/labs/${post.slug}`} title={`Permalink to ${post.data.title}`}>
						<h2>{post.data.title}</h2>
					</a>
				</header>
				
				<post.Content />
			</article>
		))}
		</section>
	</main>
</Layout>
<style>
    .article-header h2 {
        font-size: 1.2rem;
    }

	.labs-index {

		.content-article:not(:first-child) {
			padding-top: 2rem;
		}

		.content-article {
			margin-bottom: 4rem;
		}
	}
</style>