---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'
import { SiteConfig } from "../../utils/SiteConfig";

const labs = await getCollection('labs');

labs.sort((a,b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate));

const renderedLabs = await Promise.all(
	labs.map(async (post) => {
		const { Content } = await post.render();
		return { ...post, Content };
	})
);
---
<Layout props={{ title: `Labs — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <main class="main wrap">
		<section class="content-section">
		{renderedLabs.map((post) => (
			<article class="content-article">
				<header class="article-header">
					<a href={`/labs/${post.slug}`} title={`Permalink to ${post.data.title}`}>
						<h2>{post.data.title}</h2>
					</a>
				</header>
				
				<post.Content />
			</article>
		))}
		</section>
	</main>
</Layout>