.mansory {
    column-count: 4;
    column-gap: var(--spacing-1);
    padding:0 0 var(--spacing-4);
    
    figure {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: var(--spacing-1);
        break-inside: avoid;
      }
      
      figure > img {
        grid-row: 1 / -1;
        grid-column: 1;
        border-radius: var(--radius-md);
      }
}

@media screen and (max-width: 1080px) {
  .mansory {
    column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .mansory {
    column-count: 2;
  }
}

@media screen and (max-width: 500px) {
  .mansory {
    column-count: 1;
  }
}

@media screen and (min-width: 769px) and (max-width: 1460px) {
  .mansory {
    padding:0 var(--spacing-1);
  }
}