.main {
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-4);
    /* margin-bottom: var(--footer-height); */
}

.page__heading {

    h1, h2 {
        font-weight: 500;
        font-family: var(--title-font);
    }

    h2 {
        font-size: var(--font-size-h1);
    }

    p a {
        text-decoration-line: underline;
        text-underline-offset: 2.5px;
        text-decoration-thickness: 1.5px;
        text-decoration-color: hsla(var(--body-text-color), .2);
        transition: var(--transition-default);

        &:hover {
            opacity: .5;
            transition: var(--transition-default);
        }
    }
}

/* Works */
.work-data {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--spacing-2) 0 0 0;

    span {
        font-weight: 600;
        font-size: var(--font-size-small);
        text-transform: uppercase;
        color: hsla(var(--body-text-color), 0.4);
        display: block;
        margin-bottom: calc(var(--spacing-1) / 2);
    }

    li {
        margin-bottom: var(--spacing-1);
    }
}