.page__heading {
    margin-bottom: var(--spacing-8);

    h1, h2 {
        font-weight: 500;
        font-size: var(--font-size-h6);
    }

    h1 {
        color: rgb(var(--title-color));
    }

    p a {
        text-decoration-line: underline;
        text-underline-offset: 2.5px;
        text-decoration-thickness: 1.5px;
        text-decoration-color: rgba(var(--body-text-color), .2);
        transition: var(--transition-default);

        &:hover {
            text-decoration-color: rgba(var(--body-text-color), .6);
            transition: var(--transition-default);
            color: rgb(var(--title-color));
        }
    }
}

.content-article {
    padding-bottom: var(--spacing-1);

    h2, h3, h4, h5 {
        font-weight: 500;
    }

    & time {
        opacity: .8;
    }

    & ul {
        padding-left: 0;
        margin-bottom: 2rem;
        list-style-type: none;
    }

    & li {
        margin-bottom: .5rem;
        line-height: 1.6;

        &:before {
            content: '—';
            width: auto;
            display: inline-block;
            margin-right: 1rem;
            color: var(--typo-title-color);
        }
    }

    & p, & video {
        margin-bottom: 1.5rem;
    }

    & img, & video {
        border-radius: 5px;
        background-color: rgb(var(--command-menu-inner-bg));
    }

    & p a {
        text-decoration-line: underline;
        text-underline-offset: 2.5px;
        text-decoration-thickness: 1.5px;
        text-decoration-color: rgba(var(--body-text-color), .2);
        transition: var(--transition-default);

        &:hover {
            text-decoration-color: rgba(var(--body-text-color), .6);
            transition: var(--transition-default);
            color: rgb(var(--title-color));
        }
    }

    & pre {
        padding: var(--spacing-1);
        border-radius: var(--radius-sm);
        font-size: .8rem;
        margin-bottom: var(--spacing-2);
        font-size: 1rem;

        &::-webkit-scrollbar {
            scrollbar-width: thin;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: rgba(255,255,255,0);
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,.1);
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255,255,255,.5);
        }
    }

    & blockquote {
        margin-left: 0;
        padding: 1rem;
        font-weight: 400;
        background-color: rgb(var(--command-menu-inner-bg));
        border-radius: 5px;
        margin-bottom: 1rem;

        p {
            margin-bottom: 0;
        }
    }

    .article-header {
        margin: 0 auto 1rem;

        & h1 {
            margin: 0;
        }

        & h2 {
            font-weight: 500;
        }

        a {
            text-decoration: none;
        }
    }

    .article-footer {
        div {
            font-size: .8rem;
            display: block;
            margin: .5rem 0;
        }

        a {
            text-decoration: none;
        }
    }
}

/* About */

.experience__list {
    margin: var(--spacing-2) 0;

    p {
        margin-bottom: calc(var(--spacing-1) / 2);

        &:nth-child(1) {
            color: rgb(var(--title-color));
        }
    }
}

.experience__year {
    p {
        font-size: var(--font-size-small);
        color: rgb(var(--body-text-color))!important;
    }
}