.portfolio-card {
    width: auto;
    margin-bottom: 4rem;
    transform-origin: center;

    a {
        cursor: crosshair;
        text-decoration: none;
    }

    figure {
        overflow: hidden;
        border-radius: 5px;
        display: inline-grid;

        img {
            width: 100%;
            background-color: var(--icon-bg);
        }
    }
}

.portfolio-card__footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h3 {
        font-size: 1rem;
        font-weight: 600!important;
        margin-bottom: 1rem;
    }

    p {
        color: var(--text-primary-color);
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 475px) {
    .portfolio-card {
        margin-bottom: 2rem;
    }
}