.command-wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.command-overlay {
    z-index: 90;
    width: 100%;
    height: 100%;
}

.command-menu {
    background-color: rgb(var(--command-menu-bg));
    border: 1px solid rgba(var(--body-text-color), 0.04);
    padding: calc(var(--spacing-1) / 4);
    border-radius: var(--radius-lg);
    z-index: 999;
    position: fixed;
    top: 10vh;
    max-width: 36rem;
    overflow: hidden;
    width: 100%; /* Adiciona largura responsiva */
    margin: 0 auto;

    .item-selected {
        background-color: rgba(var(--body-text-color), .05);
    }

    .menu-icon {
        opacity: 0.6;
    }

    .group-name {
        color: rgba(var(--body-text-color), 0.4);
    }

    .search--wrapper {
        background-color: rgba(var(--body-text-color), 0.05);
        border: 2px solid transparent;

        &:focus-within {
            border-color: rgba(var(--body-text-color), 0.1);
        }
    }

    input::placeholder {
        color: rgba(var(--body-text-color), 0.3);
    }
}

.close-command {
    &:hover {
        background-color: rgba(var(--body-text-color), .05);
    }
}

.open-command {
    background-color: rgba(var(--body-text-color), 0.1);
    border-radius: var(--radius-sm);
    padding: calc(var(--spacing-1) / 2);
    backdrop-filter: blur(20px);
    position: fixed;
    top: var(--spacing-2);
    left: var(--spacing-2);
}

.command-inner {
    background-color: rgb(var(--command-menu-inner-bg));
    border-radius: 10px;
    z-index: 100;
    /* box-shadow: 1px 2px 20px rgb(0,0,0,0.12); */
}

.command-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-2);
    padding: 0.8rem 0 calc(var(--spacing-1) / 2);
    color: rgba(var(--body-text-color), .5);

    .command-footer--left,
    .command-footer--right {
        flex-direction: row;
        display: flex;
    }

    .command-footer--right {
        justify-content: flex-end;
    }

    .command-footer--left {
        margin-left: var(--spacing-1);
    }

    .icon--legend {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: var(--spacing-1);

        svg, 
        small {
            background-color: rgba(var(--body-text-color), 0.1);
            border-radius: 5px;
            margin-right: calc(var(--spacing-1) / 2);
            padding: 5px;
        }

        svg {
            width: 24px;
            height: 24px;
        }

        small {
            font-size: 10px;
            font-weight: 600;
        }

        p {
            font-size: var(--font-size-xsmall);
        }
    }
}

.opened-menu {
    .main {
        z-index: -1;
        position: relative;
    }
}

@media screen and (max-width: 756px) {
    .open-command {
        top: var(--spacing-1);
        left: var(--spacing-1);
    }

    .float-navigation {
        position: fixed;
        top: var(--spacing-2);
    }

    .command-footer {
        display: none;
    }

    .command-menu {
        position: inherit;
        top: 0;
    }

    .command-wrapper {
        padding: 0 var(--spacing-2);
    }
}