---
import Head from '../partials/Head.astro';
import MainNavigation from '../partials/MainNavigation.astro';
---

<!doctype html>
<html lang="en">
    <Head />
    <body>
        <MainNavigation />
        <slot />
    </body>
</html>