---
import Head, { type Headprops } from '@partials/Head.astro';
import { ClientRouter } from 'astro:transitions';

const {
  props: { title, description, image },
} = Astro.props as HeadProps;
---

<!doctype html>
<html lang="en" class="light-theme">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#0a0812">
		<link rel="icon" href="favicon.png">

		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

		<Head props={{ title, description, image }} />
		<ClientRouter />
	</head>
	<body>
		
		<div class="content">
			<slot />
		</div>
	</body>
</html>