---
import Head, { type Headprops } from '@partials/Head.astro';
import Footer from '@partials/Footer.astro';
import { ClientRouter } from 'astro:transitions';

const {
  props: { title, description, image, themeClass = "" },
} = Astro.props as HeadProps;
---

<!doctype html>
<html lang="en" class={themeClass || "light-theme"}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="transparent">
		<link rel="icon" href="/favicon.png">

		<Head props={{ title, description, image }} />
		<ClientRouter />
	</head>
	<body>
		
		<div class="content">
			<slot />
		</div>

		<Footer />
	</body>
</html>