---
import Header from '../partials/Header.astro';
import Head, { type Headprops } from '../partials/Head.astro';
// import ColorMode from '../components/utils/ColorMode.astro';
import FloatNavigation from '../partials/FloatNavigation.astro';
import { ViewTransitions } from 'astro:transitions';

const {
  props: { title, description, image },
} = Astro.props as HeadProps;
---

<!doctype html>
<html lang="en" class="light-theme">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#eeeeee">
		<link rel="icon" href="favicon.png">
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		
		<Head props={{ title, description, image }} />
		<ViewTransitions />
	</head>
	<body>
		<!-- <ColorMode /> -->
		<!-- <FloatNavigation /> -->
		<div class="content">
			<Header />
			<slot />
		</div>
	</body>
</html>