---
import Header from '../partials/Header.astro';
import Footer from '../partials/Footer.astro';
import Head from '../partials/Head.astro';

---

<!doctype html>
<html lang="en">
	<Head />
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>


{/* Aqui renderiza o conteúdo do post em si, tipo um single */}