---
import FullPage from "./FullPage.astro";
import ColorMode from "../components/utils/ColorMode.astro";
import MainNavigation from "../partials/MainNavigation.astro";

---
<FullPage>
  <ColorMode />
  <main class="portfolio-content">
    <slot />
  </main>
  <MainNavigation />
</FullPage>
{/* Aqui renderiza o conteúdo do post em si, tipo um single */}
<style is:global>
  .portfolio-content {
    padding-top: 7.5rem;

    h1 {
      font-size: 1.2rem;
      width: 100%;
      line-height: 1.2;
      margin-bottom: 2rem;
      font-family: var(--font-sans);
      display: block;
      padding-left: 1rem;
      font-weight: 600;
    }

    a {
      color: var(--link-color);
      text-decoration: underline;
    }

    p {
      color: var(--text-color);
      margin-bottom: 1rem;
    }

    .mono a {
      font-size: .8rem;
      padding-left: 1rem;
    }
  }
</style>