---
import FullPage from "./FullPage.astro";

---
<FullPage>
  <section class="scroller-sections">
    <slot />
  </section>
</FullPage>

{/* Aqui renderiza o conteúdo do post em si, tipo um single */}