---
import FullPage from '../../layouts/FullPage.astro';
import Grid from '../../components/Grid.astro';
import Section from '../../components/FullSection.astro';
import ColorMode from '../../components/ColorMode.astro';
import BackToHome from '../../components/BackToHome.astro';
import { getCollection } from 'astro:content';

const portfolioItems = await getCollection('portfolio');
---
<FullPage>
	<BackToHome />
	<ColorMode />
	<main class="scroller-sections">

		<Section>
			<Grid isContainer>
				<Grid sm="12" lg="12">
					<figure>
						<img src="/uploads/images/portfolio/test.png" alt="teste">
					</figure>
				</Grid>
			</Grid>
		</Section>

		<Section>
			<Grid isContainer>
				<Grid sm="12" lg="12">
					<figure>
						<img src="/uploads/images/portfolio/test-2.png" alt="teste">
					</figure>
				</Grid>
			</Grid>
		</Section>

	</main>
</FullPage>